.f-wrapper{
    /* margin: 100px 150px; */
}

.f-stats{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}

.f-stat{
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: center;
    text-align: center;
}

.f-stat h1 span{
    font-size: 69px;
    font-family: "Roboto";
    color: #AD0000;
}

.f-stat span {
    font-size: 69px;
    font-family: "Roboto";
    font-weight: 700;
    color: #AD0000;
}

.f-stat-name{
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: center;
    text-align: center;
}

.f-stat-name h1{
    font-family: "Roboto Slab";
    font-size: 19px;
    color: #222222;
    font-weight: 400;
}

.f-reviews{
    display: flex;
    padding-left: 150px;
    margin-top: 100px;
    height: 450px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #F2F6F5 100%);
}

.review-left{
    width: 50%;

}

.review-left svg {
    opacity: 0.06;
    position: relative;
    top: -245px;
    left: 180px;
}

.row-1{
    display: flex;
    align-items: center;
    width: 248px;
    margin-bottom: 10px;
}

.row-1 h3{
    color: #AD0000;
    font-family: "Inter", Sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 3px;
    margin-right: 10px;
    animation: fadeIn2 1s ease-in-out;
}

.row-1 span {
    display: block;
    content: "";
    border-bottom: 0;
    flex-grow: 1;
    border-top: 1px solid #AD0000;
    animation: fadeIn2 1s ease-in-out;
}

/* .row-2{
    width: 70%;
    margin-bottom: 15px;
} */

.row-2{
    width: 70%;
    color: #222222;
    font-family: "Inter", Sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
    animation: fadeIn 1s ease-in-out;
}

.row-3 h3{
    color: #222222;
    font-family: "Inter", Sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 10px;
}

.row-3 span {
    color: #222222;
    font-family: "Inter", Sans-serif;
    font-size: 13px;
}

.review-right{
    width: 48%;
    position: relative;
}

.com-head{
    display: flex;
    padding: 15px;
    box-shadow:#222222;
    gap: 15px;
    width: 275px;
    background: white;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
}

.com-img img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.com-details span{
    display: flex;
}

.com-details li{
    list-style-type: none;
    color: #FF8E00;
}

.com-details h3{
    margin-right: 40px;
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    font-style: normal;
    line-height: 1.5em;
}

.com-details p{
    color: #999999;
    font-family: "Inter", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
}

.ebay-logo{

    color: #AD0000;
}

.com-body {
    padding: 15px;
    box-shadow:#222222;
    gap: 15px;
    width: 275px;
    background: white;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
}

.com-body p{
    font-size: 15px;
    color: #555555;
    font-weight: 500;
    line-height: 1.5;
    height: 200px;
}